<h1>Editing book</h1>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to "Books", books_path %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= @book.title %>
    </li>
  </ol>
</nav>

<%= render "form", book: @book %>

<%= link_to "Show Book", @book, class: "btn btn-secondary mt-3" %>
