<h1>Editing book</h1>

<%= render("breadcrumb", breadcrumbs: [
  { name: "Books", path: root_path },
  { name: @book.title, path: @book },
  { name: "Edit" }
]) %>

<div class="card">
  <div class="card-body">
    <%= render("form", book: @book) %>
  </div>
</div>
