<h1>New book</h1>

<%= render("breadcrumb", breadcrumbs: [
  { name: "Books", path: root_path },
  { name: "New Book" }
]) %>

<div class="card">
  <div class="card-body">
    <%= render("form", book: @book) %>
  </div>
</div>
